#File extensions
*.csproj
*.sln
*.vsconfig
*.meta
*.unitypackage

#Folders
UserSettings/
Temp/
ProjectSettings/
Packages/
obj/
Logs/
Library/
.vs/

#Folders in Assets
/Assets/AC/
/Assets/Animation/
/Assets/Materials/
/Assets/Models/
/Assets/Package/
/Assets/Plugins/
/Assets/Prefabs/
/Assets/Resources/
/Assets/Scenes/
/Assets/Scripts/CozyPackages/
/Assets/Sprites/
/Assets/Textures/

